<div *ngIf="isAdminLoggedIn" class="container mt-4">

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2></h2>
  <button
    class="btn btn-success w-100"
    routerLink="/createContent"
  >
    + Ajouter une contenu
  </button>
</div>
</div>
<div class="content-list">
  <!-- <h2 *ngIf="selectedCategory">Catégorie: {{ selectedCategory }}</h2> -->
  <div *ngIf="filteredContents.length > 0; else noContents">
    <div *ngFor="let content of filteredContents" class="content-card">
      <div class="content-header">

        <div class="post-avatar">{{ content.title[0] }}</div>
        <div>
          <h3 class="post-title">{{ content.title }}</h3>
          <p class="post-meta">{{ content.createdDate | date: 'short' }} • {{ content.category }}</p>
        </div>
        <a *ngIf="isAdminLoggedIn" class="comment-actions" (click)="updateContent(content)">Edit</a>
        <a *ngIf="isAdminLoggedIn" class="comment-actions" (click)="deleteContent(content.id)">Delete</a>
      </div>
      <div class="content-body">
        <p>{{ content.body }}</p>
      </div>
      <app-comments [contentId]="content.id"></app-comments>
    </div>
  </div>
  <ng-template #noContents>
    <p>Aucun contenu disponible pour cette catégorie.</p>
  </ng-template>
</div>


