




/* Liste de contenu */
.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


.content-card {
  display: flex;               /* Utilisation de flexbox pour la mise en page */
  flex-direction: column;      /* Empile les éléments (titre et bouton) verticalement */
  justify-content: space-between;  /* Sépare les éléments pour que le bouton soit toujours en bas */
  width: calc(33.333% - 16px);
  padding: 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.content-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.content-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}


.btn {
  display: inline-block;
  padding: 12px;             /* Réduction de la taille et garde la forme carrée */
  width: 100px;              /* Largeur fixe */
  height: 50px;             /* Hauteur fixe égale à la largeur */
  border: none;
  border-radius: 4px;       /* Coins arrondis */
  cursor: pointer;
  font-size: 16px;          /* Taille du texte ajustée pour qu'il rentre dans le carré */
  text-align: center;       /* Centrer le texte dans le carré */
  line-height: 24px;        /* Ajustement de l'espacement vertical du texte */
  transition: background 0.3s ease;
  margin-top: auto;
}



.btn-primary {
  background: #14aa48;
  color: #fff;
}

.btn-primary:hover {
  background: #84f68f;
}

.btn-secondary {
  background: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background: #5a6268;
}

.btn-close {
  background: transparent;
  color: #333;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn-close:hover {
  color: #000;
}

/* Fenêtre modale */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.modal-body {
  font-size: 14px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 8px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
