<div class="background-container">
  <div class="home-container" onclick="highlightOnClick(this)">
    <div class="home-content">
      <img src="assets/particip.png" alt="Image de Mauritanie" class="home-image" />
      <div class="home-text">
        <h1 class="title">La plateforme nationale de<br>l’e-participation</h1>

        <p class="description">
          La plateforme nationale d'e-participation en Mauritanie vise à renforcer la transparence et l'engagement citoyen en facilitant l'accès à l'information publique et en encourageant la participation des citoyens aux processus décisionnels.
        </p>
        <p class="description">
          En offrant un espace numérique convivial, la plateforme permet aux Mauritaniens de s'informer sur les politiques publiques, de partager leurs opinions et de contribuer activement à la prise de décision. Grâce à des fonctionnalités telles que la publication d'informations, des consultations en ligne et des forums de discussion, cette initiative aspire à promouvoir une démocratie participative et à améliorer le bien-être de tous les citoyens.
        </p>
      </div>
    </div>
  </div>
</div>
