<div class="comments-section">
  <h6 class="comments-title">Commentaires</h6>

  <!-- Existing Comments -->
  <ul class="comments-list">
    <li *ngFor="let comment of comments" class="comment-item">
      <div class="comment-avatar">{{ comment.userProfile }}</div>
      <div class="comment-content">
        <p class="comment-author">{{ comment.userProfile }}</p>
        <p class="comment-text">{{ comment.text }}</p>
        <div class="comment-actions">
          <a
            *ngIf="canEditComment(comment.userId)"

            (click)="editComment(comment)"
          >
            Modifier
          </a>
          <a
            *ngIf="canDeleteComment(comment.userId)"
            (click)="deleteComment(comment.id)"
          >
            Supprimer
          </a>
        </div>
      </div>
    </li>
  </ul>

  <!-- Add Comment -->
  <app-comment-create *ngIf="isUserLoggedIn || isAdminLoggedIn"  [contentId]="contentId"></app-comment-create>
</div>
